spotipy>=2.25.1
spotdl>=4.4.3
syncedlyrics>=1.0.1
ytmusicapi>=1.11.0
lyricsgenius>=3.0.1
demucs>=4.0.1
transformers>=4.55.0
accelerate>=1.10.0
torch>=2.6.0
torchaudio>=2.6.0
silero-vad>=6.0.0
faster-whisper>=1.2.0
librosa>=0.11.0
soundfile>=0.13.1
mutagen>=1.47.0
pydub>=0.25.1
numpy>=2.0.0
scipy>=1.14.0
requests>=2.32.0
rapidfuzz>=3.13.0
tqdm>=4.67.0
